exportPattern("^[[:alpha:]]+")
export(autoplot)
importFrom("graphics", "rasterImage", "par", "plot.new", "plot.window")
importFrom("raster", raster)
importFrom("ggplot2", autoplot)
import(raster)
import(sp)
import(rJava)
importFrom("methods", setMethod)
importFrom("grDevices", "col2rgb", "rgb")
S3method(plot, OpenStreetMap)
S3method(plot, osmtile)
S3method(autoplot, OpenStreetMap)
S3method(autoplot, osmtile)
S3method(print, OpenStreetMap)
importFrom("grDevices", "dev.list", "dev.new", "dev.off")