exportPattern("^[[:alpha:]]+")
importFrom("graphics", "rasterImage", "par", "plot.new", "plot.window")
importFrom("raster", raster)
importFrom("ggplot2", autoplot)
import(raster)
import(sp)
import(rJava)
import(rgdal)
importFrom("methods", setMethod)
importFrom("grDevices", "col2rgb", "rgb")
S3method(plot, OpenStreetMap)
S3method(plot, osmtile)
S3method(print, OpenStreetMap)